@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');



/* ****************** */
/* Estilos constantes */
/* ****************** */

   .header-paginas-navegacion-subcontainer {
       display: flex;
       flex-direction: row;
       position: relative;
       padding-right: 0.3rem;
       justify-content: space-between;
       /* background-color: rgba(149, 246, 160, 0.4); */
   }


   .header-navegacion-link-container {
       position: relative;
       display: flex;
       flex-direction: column;
       align-self: center;
       align-items: center;
       /* background-color: rgba(244, 254, 133, 0.4); */
   }


   .header-pointer {
       cursor: pointer;
   }


   .header-navegacion-incio-logo {
       background-image: url('../../../images/header/inicio_logo.png');
       background-size: cover;
       /* background-color: antiquewhite; */
   }


   .header-navegacion-texto {
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       font-weight: 900;
       letter-spacing: normal;
       color: #52646f;
       background-color: transparent;
       font-family: 'Nunito';
       -webkit-font-smoothing: antialiased;
       -webkit-text-size-adjust: 100%;
   }


   .header-logo-hide {
       visibility: hidden;
   }


   .instalaciones-dropdown {
       position: absolute;
       background-color: white;
       box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
       z-index: 1;
       opacity: 0;
       visibility: hidden;
       transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
   }


   .instalaciones-dropdown.visible {
       opacity: 1;
       visibility: visible;
   }


   .instalaciones-dropdown div {
       margin: 2px;
       cursor: pointer;
       background-color: #ddedf7;
   }


   .instalaciones-dropdown div:hover {
       background-color: #cedee8;
       color: #102c8a;
   }


   .header-navegacion-instalaciones-texto {
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       font-weight: 900;
       letter-spacing: normal;
       color: #268bd2;
       background-color: transparent;
       font-family: 'Nunito';
       -webkit-font-smoothing: antialiased;
       -webkit-text-size-adjust: 100%;
   }



   
/* ********** */
/* RESPONSIVE */
/* ********** */

@media (max-width: 480px) {
    

    .header-paginas-navegacion-subcontainer {
        top: -26px;
        width: 15rem;
    }


    .header-navegacion-incio-logo {
        width: 14px;
        height: 13px;
    }


    .header-navegacion-texto {
        font-size: 7.5px;
        border-radius: 9px;
    }


    .instalaciones-dropdown {
        top: 1.6rem;    
        left: -1.1rem;
    }


    .instalaciones-dropdown div {
        width: 4.9rem;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .header-navegacion-instalaciones-texto {
        font-size: 7.5px;
    }


}


@media (min-width: 481px) and (max-width: 780px) {


    .header-paginas-navegacion-subcontainer {
        top: -35px;
        width: 20.1rem;
    }
    

    .header-navegacion-incio-logo {
        width: 16px;
        height: 15px;
    }


    .header-navegacion-texto {
        font-size: 8px;
        border-radius: 9px;
    }


    .instalaciones-dropdown {
        top: 1.8rem;
        left: -1.2rem;
    }



    .instalaciones-dropdown div {
        width: 5.2rem;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .header-navegacion-instalaciones-texto {
        font-size: 8px;
    }


}




@media (min-width: 781px) and (max-width: 980px) {

    .header-paginas-navegacion-subcontainer {
        top: -55px;
        width: 33rem;
    }
    

    .header-navegacion-incio-logo {
        width: 35px;
        height: 30px;
    }


    .header-navegacion-texto {
        font-size: 13px;
        border-radius: 9px;
    }


    .instalaciones-dropdown {
        top: 3.4rem;
        left: -1.8rem;
    }


    .instalaciones-dropdown div {
        width: 8.5rem;
        padding-top: 2px;
        padding-bottom: 2px;           
    }


    .header-navegacion-instalaciones-texto {
        font-size: 13px;
    }


}



@media (min-width: 981px) and (max-width: 1200px) {


    .header-paginas-navegacion-subcontainer {
        top: -52px;
        width: 44rem;
    }


    .header-navegacion-incio-logo {
        width: 35px;
        height: 30px;
    }

 
    .header-navegacion-texto {
        font-size: 18px;
        border-radius: 9px;
    }


    .instalaciones-dropdown {
        top: 3.6rem;
        left: -2.7rem;
    }


    .instalaciones-dropdown div {
        width: 12.5rem;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .header-navegacion-instalaciones-texto {
        font-size: 18px;
    }


}




@media (min-width: 1201px) {


    .header-paginas-navegacion-subcontainer {
        top: -52px;
        width: 52.5rem;
    }


    .header-navegacion-incio-logo {
        width: 35px;
        height: 30px;
    }


    .header-navegacion-texto {
        font-size: 21px;
        border-radius: 9px;
    }


    .instalaciones-dropdown {
        top: 4rem;
        left: -3rem;
    }


    .instalaciones-dropdown div {
        width: 14rem;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .header-navegacion-instalaciones-texto {
        font-size: 21px;
    }


}