.header-enlaces-redondos {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 4rem;
}


        .header-escuelaDePadres {
            background-image: url('../../../images/header/escueladepadres.png');
        }


        .header-zonaPrivada {
            background-image: url('../../../images/header/zonaprivada.png');
        }


        .header-contacto {
            background-image: url('../../../images/header/contacto.png');
        }


        .logoRedondoHeader {
            width: 34px;
            height: 34px;   
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }