@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.ComedorTexto-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(156, 101, 29); */
}

.comedortexto-volver-siguiente-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(75, 171, 255); */
}

.comedortexto-volver-siguiente {
    font-family: Nunito;
    color: #b58900;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    text-shadow: none;
    text-indent: 0;
    cursor: pointer;
}

.comedortexto-imagen-container {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}

.comedortexto-imagen-titulo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url('../../../images/comedor/comedor_titulo.png');
}

.comedortexto-parrafo {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    color: #040000;
    background-color: initial;
    letter-spacing: normal;
    text-shadow: none;
    text-align: justify;
}


@media (max-width: 480px) {


    .ComedorTexto-container {
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .comedortexto-volver-siguiente {
        font-size: 6px;
    }

    .comedortexto-imagen-titulo {
        width: 160px;
        height: 70px;
    }

    .comedortexto-parrafo {
        font-size: 6px;
        line-height: 10px;
    }


}



@media (min-width: 481px) and (max-width: 780px) {


    .ComedorTexto-container {
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .comedortexto-volver-siguiente {
        font-size: 8px;
    }

    .comedortexto-imagen-titulo {
        width: 240px;
        height: 105px;
    }

    .comedortexto-parrafo {
        font-size: 8px;
        line-height: 10px;
    }


}



@media (min-width: 781px) and (max-width: 980px) {


    .ComedorTexto-container {
        gap: 0.7rem;
        margin-bottom: 1rem;
    }

    .comedortexto-volver-siguiente {
        font-size: 12px;
    }

    .comedortexto-imagen-titulo {
        width: 384px;
        height: 168px;
    }

    .comedortexto-parrafo {
        font-size: 12px;
        line-height: 20px;
    }


}



@media (min-width: 981px) and (max-width: 1200px) {


    .ComedorTexto-container {
        gap: 0.7rem;
        margin-bottom: 1rem;
    }

    .comedortexto-volver-siguiente {
        font-size: 16px;
    }

    .comedortexto-imagen-titulo {
        width: 479px;
        height: 209px;
    }

    .comedortexto-parrafo {
        font-size: 16px;
        line-height: 23px;
    }


}



@media (min-width: 1201px) {


    .ComedorTexto-container {
        gap: 0.8rem;
        margin-bottom: 1rem;
    }

    .comedortexto-volver-siguiente {
        font-size: 19px;
    }

    .comedortexto-imagen-titulo {
        width: 598px;
        height: 261px;
    }

    .comedortexto-parrafo {
        font-size: 19px;
        line-height: 25px;
    }
    

}