@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');




.CocinayLavanderiaFotos-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

.cocinaylavanderiafotos-imagen {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url('../../../images/cocinaylavanderia/cocinaylavanderia_imagen.jpg');
}

.cocinaylavanderiafotos-volver-siguiente-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* background-color: rgb(75, 171, 255); */
}

.cocinaylavanderiafotos-volver-siguiente {
    color: #b58900;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    background-color: initial;
    letter-spacing: normal;
    text-shadow: none;
    text-align: justify;
    cursor: pointer;
}



@media (max-width: 480px) {


    .CocinayLavanderiaFotos-container {
        gap: 1rem;
    }

    .cocinaylavanderiafotos-imagen {
        width: 260px;
        height: 164px;
    }

    .cocinaylavanderiafotos-volver-siguiente {
        font-size: 6px;
    }


}



@media (min-width: 481px) and (max-width: 780px) {


    .CocinayLavanderiaFotos-container {
        gap: 1rem;
    }

    .cocinaylavanderiafotos-imagen {
        width: 390px;
        height: 246px;
    }

    .cocinaylavanderiafotos-volver-siguiente {
        font-size: 8px;
    }


}



@media (min-width: 781px) and (max-width: 980px) {


    .CocinayLavanderiaFotos-container {
        gap: 1rem;
    }

    .cocinaylavanderiafotos-imagen {
        width: 624px;
        height: 394px;
    }

    .cocinaylavanderiafotos-volver-siguiente {
        font-size: 12px;
    }


}



@media (min-width: 981px) and (max-width: 1200px) {


    .CocinayLavanderiaFotos-container {
        gap: 2rem;
    }

    .cocinaylavanderiafotos-imagen {
        width: 780px;
        height: 493px;
    }

    .cocinaylavanderiafotos-volver-siguiente {
        font-size: 16px;
    }


}



@media (min-width: 1201px) {


    .CocinayLavanderiaFotos-container {
        gap: 2rem;
    }

    .cocinaylavanderiafotos-imagen {
        width: 975px;
        height: 616px;
    }

    .cocinaylavanderiafotos-volver-siguiente {
        font-size: 19px;
    }


}