@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


footer {
    background-color: #ddedf7;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
}



        .footer-contacto-container-redes-sociales {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }

                .footer-contacto-instagram {
                    background-image: url('../../../images/main/instagram.png');
                }


                .footer-contacto-x {
                    background-image: url('../../../images/main/x.png');
                }


                .footer-contacto-facebook {
                    background-image: url('../../../images/main/facebook.jpg');

                }


        .footer-redSocial {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            border-radius: 5px;
        }


        .footer_contacto{
            font-size: 7px;
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            color: #677a85;
        }


        .footer_comunidadMadridLogo{
            background-image: url('../../../images/footer/comunidad_de_madrid.png');
            width: 6.5rem;
            height: 3rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }

        .footer_logoEscudo{
            background-image: url('../../../images/footer/logo_lullaby_escudo.png');
            width: 20vw;
            height: 20vw;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        } 