
.instalaciones-container{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}


@media (max-width: 480px) {


    .instalaciones-container {
        width: 19rem;
        gap: 2rem;
    }


}



@media (min-width: 481px) and (max-width: 780px) {


    .instalaciones-container {
        width: 27rem;
        gap: 2rem;
    }


}



@media (min-width: 781px) and (max-width: 980px) {


    .instalaciones-container {
        width: 43rem;
        gap: 2rem;
    }


}



@media (min-width: 981px) and (max-width: 1200px) {


    .instalaciones-container {
        width: 58rem;
        gap: 2rem;
    }


}



@media (min-width: 1201px) {


    .instalaciones-container {
        width: 69rem;
        gap: 2rem;
    }
    

}