@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

header{
    width: 100%;
    padding-top: 0.5rem;
    /* background-color: aqua; */
    height: 4.5rem;
    /* flex: 1; */
}


/* Contenedor de el Logo de Lullaby y los 3 circulos con enlaces (Escuela de Padres, Zona Privada, Contacto) */
.header-enlaces-container{
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-self: center;
    align-items: center;
    position: relative;
    z-index: 2;
    /* background-color: aqua; */
}


/* Contenedor de los enlaces de navegacion (Inicio, Quiénes Somos, Instalacines, Inglés, Equipo) */
.header-paginas-navegacion {
    background-color: #ddedf7;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    justify-content: right;
    flex-wrap: wrap;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 1rem;
}
    

        /* .header-paginas-navegacion-subcontainer {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            position: relative;
            top: -10px;
            padding-right: 0.5rem;
        }


        .header-navegacion-link-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
        }
               
        

        .header-logo-hide{
            visibility: hidden;
        }
        
                .header-navegacion-incio-logo{
                    width: 14px;
                    height: 13px;
                    background-image: url('../../../images/header/inicio_logo.png');
                    background-size: cover;
                }
                  
                
                .header-navegacion-texto {
                    text-align: center;
                    font-size: 7.5px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Nunito', sans-serif;
                    color: #52646f;
                } */


            