.DarwinInfo-container {
    background-color: antiquewhite;
}

@media (max-width: 480px) {

    .DarwinInfo-container {
        width: 19rem;
    }

}



@media (min-width: 481px) and (max-width: 780px) {

    .DarwinInfo-container {
        width: 27rem;
    }

}



@media (min-width: 781px) and (max-width: 980px) {

    .DarwinInfo-container {
        width: 43rem;
    }

}



@media (min-width: 981px) and (max-width: 1200px) {

    .DarwinInfo-container {
        width: 58rem;
    }

}



@media (min-width: 1201px) {

    .DarwinInfo-container {
        width: 69rem;
    }

}