@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.zonaprivada-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.zonaprivada-parrafo {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    color: #040000;
    background-color: initial;
    letter-spacing: normal;
    text-shadow: none;
    text-align: justify;
}

.zonaprivada-texto-agenda-electronica {
    color: #102c8a;
}


@media (max-width: 480px) {


    .zonaprivada-container{
        gap: 1rem;
        width: 19rem;
    }

    .zonaprivada-parrafo{
        font-size: 6px;
        line-height: 10px;
    }

    .zonaprivada-texto-agenda-electronica{
        font-size: 8px;
    }


}



@media (min-width: 481px) and (max-width: 780px) {


    .zonaprivada-container {
        gap: 1rem;
        width: 27rem;
    }

    .zonaprivada-parrafo {
        font-size: 8px;
        line-height: 10px;
    }

    .zonaprivada-texto-agenda-electronica {
        font-size: 10px;
    }


}



@media (min-width: 781px) and (max-width: 980px) {


    .zonaprivada-container {
        gap: 1rem;
        width: 43rem;
    }

    .zonaprivada-parrafo {
        font-size: 12px;
        line-height: 20px;
    }

    .zonaprivada-texto-agenda-electronica {
        font-size: 14px;
    }


}



@media (min-width: 981px) and (max-width: 1200px) {


    .zonaprivada-container {
        gap: 2rem;
        width: 58rem;
    }

    .zonaprivada-parrafo {
        font-size: 16px;
        line-height: 23px;
    }

    .zonaprivada-texto-agenda-electronica {
        font-size: 18px;
    }


}



@media (min-width: 1201px) {


    .zonaprivada-container {
        gap: 2rem;
        width: 69rem;
    }

    .zonaprivada-parrafo {
        font-size: 19px;
        line-height: 25px;
    }

    .zonaprivada-texto-agenda-electronica {
        font-size: 21px;
    }
    

}