
header{
    /* background-color: beige; */
    width: 100%;
    padding-top: 0.5rem;
    
}

    .header-enlaces-container{
        display: flex;
        justify-content: space-between;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        align-self: center;
        align-items: center;
        /* background-color: aqua; */

        position: relative;
        z-index: 2;
    }

            .lullaby_logo {
                background-image: url('../../images/header/lullaby_logo.png');
                width: 100px;
                height: 100px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                /* background-color: antiquewhite; */

            }


            .header-enlaces{
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                /* flex-wrap: wrap; */
                /* background-color: rgb(196, 135, 54); */
                /* height: 100%; */
                margin-bottom: 4rem;
            }
                    .header-escuelaDePadres{
                        background-image : url('../../images/header/escueladepadres.png');
                    }

                    .header-zonaPrivada{
                        background-image : url('../../images/header/zonaprivada.png');
                    }

                    .header-contacto{
                        background-image : url('../../images/header/contacto.png');
                    }

                        .logoRedondoHeader{
                            width: 40px;
                            height: 40px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100% 100%;
                        }

    .header-paginas-navegacion{
        background-color: #ddedf7;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: right;
        /* padding: 1rem; */
        /* overflow: visible; */
        /* position: relative; */
        flex-wrap: wrap;
        /* height: 1rem; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        z-index: 1;
    }

            .header-navegacion-link-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
            }


            .header-navegacion-link-container-final{
                margin-right: 0.5rem;
            }

                    .header-navegacion-incio-logo{
                        background-image: url('../../images/header/inicio_logo.png');
                    }


                    .header-navegacion-quienesSomos-logo{
                        background-image: url('../../images/header/quienesSomos.png');
                    }


                    .header-navegacion-instalaciones-logo{
                        background-image: url('../../images/header/instalaciones.png');
                    }


                    .header-navegacion-proyectoLullaby-logo{
                        background-image: url('../../images/header/proyectoLullaby.png');
                    }


                    .header-navegacion-ingles-logo{
                        background-image: url('../../images/header/ingles.png');
                    }


                    .header-navegacion-equipo-logo{
                        background-image: url('../../images/header/equipo.png');
                    }


                            .logoNavegacion{
                                width: 5vw;
                                height: 5vw;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 100% 100%;
                            }


                            .header-navegacion-texto{
                                text-align: center;
                                font-size: 4.5px;
                                font-weight: bold;
                            }

            