main{
    /* background-color: rgb(230, 175, 104); */
}

@media (max-width: 480px) {
 
    
    main{
        width: 19rem;
    }

    
}


@media (min-width: 481px) and (max-width: 780px) {


    main {
        width: 27rem;
    }


}


@media (min-width: 781px) and (max-width: 980px) {


    main {
        width: 43rem;
    }


}


@media (min-width: 981px) and (max-width: 1200px) {


    main {
        width: 58rem;
    }


}



@media (min-width: 1201px) {


    main {
        width: 69rem;
    }


}

     