
footer {
    background-color: #ddedf7;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
    /* Espacio entre los elementos del footer */
}


        .footer_facebook{
            background-image: url('../../images/footer/facebook.jpg');
        }

        .footer_x{
            background-image: url('../../images/footer/x.png');
        }

        .footer_logoredSocial{
            width: 8vw;
            height: 8vw;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }

        .footer_contacto{

        }

        .footer_comunidadMadridLogo{
            background-image: url('../../images/footer/comunidad_de_madrid.png');
            width: 40vw;
            height: 20vw;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }

        .footer_logoEscudo{
            background-image: url('../../images/footer/logo_lullaby_escudo.png');
            width: 20vw;
            height: 20vw;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }