@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/* ****************** */
/* Estilos constantes */
/* ****************** */

.quienessomos-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: antiquewhite;
}




/* ********** */
/* RESPONSIVE */
/* ********** */

@media (max-width: 480px) {


        .quienessomos-container {
            width: 19rem;
        }


}



@media (min-width: 481px) and (max-width: 780px) {

        .quienessomos-container {
            width: 27rem;
        }

}



@media (min-width: 781px) and (max-width: 980px) {


        .quienessomos-container {
            width: 43rem;
        }


}



@media (min-width: 981px) and (max-width: 1200px) {


        .quienessomos-container {
            width: 58rem;
        }


}



@media (min-width: 1201px) {


        .quienessomos-container {
            width: 69rem;
        }
    

}